body {
	background: #fdfdfd;
}

.table-head {
	background: #ee6e73;
}

.table-head-title {
	color: #fff;
}

.table-body td {
	color: #777;
	font-weight: bold;
}

.countrie-flag {
	height: 25px;
	width: 40px;
}